
.cover_image {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
  }
  
  .cover_image img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }
  
  
  .cover_image .content {
    font-size: 4rem;
    color: #fff;
    text-transform: capitalize;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
    opacity: 0.85;
    position: absolute;
    bottom: 0;
  }

.contact .row {
  margin-top: 10px;
  position: relative;
}

.contact .row form{
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

.contact .row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
  width:100%;
}

.contact .row .btn {
  display: flex;
  justify-items: center;
}